
{% extends "main.tpl" %}

{% block content %}

<div class="page_box">
    <form method="post" id="form_add_file" enctype="multipart/form-data">
        {% if edit_file %}
            <input type="hidden" name="action" value="edit_file">
        {% else %}
          <input type="hidden" name="action" value="add_new_file">
        {% endif %}
        <input type="hidden" name="type">
        <div class="container">
            {% if edit_file %}
                <h3>{{ 'Edit file'|lang }}: {{ file.title }}</h3>
                {% if file.type=='image' %}
                    <img src="upload/files/{{ file.thumb }}" alt="{{ file.title }}" class="responsive-img materialboxed" data-caption="{{ file.title }}" id="form_add_file_preview">
                {% elseif file.type=='iframe' %}
                    <img src="{{ file.thumb }}" alt="{{ file.title }}" class="responsive-img materialboxed" id="form_add_file_preview">
                {% elseif file.type=='video' %}
                    <video class="responsive-video" controls id="form_add_file_preview">
                        <source src="upload/files/{{ file.url }}" type="video/mp4">
                    </video>
                {% endif %}
            {% else %}
               <h3>{{ 'Add new file'|lang }}</h3>
            {% endif %}
            {% include 'alert.tpl' %}
            <br>
            <div class="row">
                <div class="input-field col s12">
                    <label for="title">{{ 'Title'|lang }}</label>
                    <input id="title" name="title" type="text" placeholder="{{ 'Title'|lang }}" title="{{ 'Here enter title'|lang }}" class="validate char-counter" required maxlength="{{ settings.number_char_title }}" data-length="{{ settings.number_char_title }}" value="{{ file.title }}">
                </div>
                <div class="input-field col s12">
                    <label for="description">{{ 'Description'|lang }}</label>
                    <textarea id="description" name="description" placeholder="{{ 'Description'|lang }}" title="{{ 'Here enter description'|lang }}" class="materialize-textarea char-counter" maxlength="{{ settings.number_char_description }}" data-length="{{ settings.number_char_description }}">{{ file.description }}</textarea>
                </div>
            </div>
            {% if not edit_file %}
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s2"><a href="#image_disk" title="{{ 'Image from disk'|lang }}" class="{% if file.type=='image_disk' %}active{% endif %} add_file_type" data-type="image_disk">{{ 'Image from disk'|lang }}</a></li>
                            <li class="tab col s2"><a href="#video_youtube" title="{{ 'Video from Youtube'|lang }}" class="{% if file.type=='video_youtube' %}active{% endif %} add_file_type" data-type="video_youtube">{{ 'Video from Youtube'|lang }}</a></li>
                            <li class="tab col s2"><a href="#video_vimeo" title="{{ 'Video from Vimeo'|lang }}" class="{% if file.type=='video_vimeo' %}active{% endif %} add_file_type" data-type="video_vimeo">{{ 'Video from Vimeo'|lang }}</a></li>
                            <li class="tab col s2"><a href="#video_dailymotion" title="{{ 'Video from DailyMotion'|lang }}" class="{% if file.type=='video_dailymotion' %}active{% endif %} add_file_type" data-type="video_dailymotion">{{ 'Video from DailyMotion'|lang }}</a></li>
                            <li class="tab col s2"><a href="#video_mp4" title="{{ 'Video MP4'|lang }}" class="{% if file.type=='video_mp4' %}active{% endif %} add_file_type" data-type="video_mp4">{{ 'Video MP4'|lang }}</a></li>
                        </ul>
                    </div>
                    <div id="image_disk" class="col s12 add_file_type_box">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>{{ 'Image from disk'|lang }}</span>
                                <input type="file" name="image_disk" accept="image/*" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                         </div>
                    </div>
                    <div id="video_youtube" class="col s12 add_file_type_box">
                        <input type="text" name="video_youtube" placeholder="{{ 'Video from Youtube'|lang }}" title="{{ 'Video from Youtube'|lang }}" required value="{{ file.video_youtube }}">
                    </div>
                    <div id="video_vimeo" class="col s12 add_file_type_box">
                        <input type="text" name="video_vimeo" placeholder="{{ 'Video from Vimeo'|lang }}" title="{{ 'Video from Vimeo'|lang }}" required value="{{ file.video_vimeo }}">
                    </div>
                    <div id="video_dailymotion" class="col s12 add_file_type_box">
                        <input type="text" name="video_dailymotion" placeholder="{{ 'Video from DailyMotion'|lang }}" title="{{ 'Video from DailyMotion'|lang }}" required value="{{ file.video_dailymotion }}">
                    </div>
                    <div id="video_mp4" class="col s12 add_file_type_box">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>{{ 'Video MP4'|lang }}</span>
                                <input type="file" name="video_mp4" accept=".mp4" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if categories %}
              <div class="row">
                  <div class="input-field col s12">
                    <select id="category" name="category_id">
                      <option value="">{{ '-- select --'|lang }}</option>
                      {% for item in categories %}
                        <option value="{{ item.id }}" {% if file.category_id == item.id  %}selected{% endif %}>{{ item.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="category_id">{{ 'Category'|lang }}</label>
                  </div>
              </div>
            {% endif %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="tags" name="tags" type="text" placeholder="{{ 'Tags (enter after the comma)'|lang }}" title="{{ 'Tags (enter after the comma)'|lang }}" maxlength="512" value="{{ file.tags }}">
                    <label for="tags">{{ 'Tags (enter after the comma)'|lang }}</label>
                </div>
            </div>
            <div class="row">
				<div class="input-field col s12">
					<input type="submit" class="btn waves-effect waves-light" value="{% if edit_file %}{{ 'Save'|lang }}{% else %}{{ 'Add'|lang }}{% endif %}">
				</div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
