
{% extends "main.tpl" %}  

{% block content %}

<div class="page_box">
	<div class="container">
		<h2>{{ contact_page.name }}</h2>
		<br>
		{{ contact_page.content|raw }}
		<br>
		<h3>{{ 'Contact form'|lang }}</h3>
		<br>
		{% include 'alert.tpl' %}
		<form method="post" enctype="multipart/form-data">
			<input type="hidden" name="action" value="send_message">
			<div class="row">
				<div class="input-field col s12">
					<label for="name">{{ 'Name'|lang }}</label>
					<input type="text" class="validate" id="name" name="name" placeholder="{{ 'John Smith'|lang }}" required value="{{ input.name }}" title="{{ 'Enter your name'|lang }}">
				</div>
			</div>
			<div class="row"> 				
				<div class="input-field col s12">
					<label for="email">{{ 'E-mail address'|lang }}</label>
					<input type="email" class="validate" id="email" name="email" placeholder="{{ 'example@example.com'|lang }}" required value="{% if input.email %}{{ input.email }}{% elseif user.id %}{{ user.email }}{% endif %}" title="{{ 'Enter your email address'|lang }}">
				</div>
			</div>
			<div class="row"> 				
				<div class="input-field col s12">
					<label for="message">{{ 'Message'|lang }}</label>
					<textarea class="validate materialize-textarea" rows="4" name="message" id="message" required placeholder="{{ 'My message'|lang }}" title="{{ 'Enter your message'|lang }}">{{ input.message }}</textarea>
				</div>
			</div>
			{% if settings.mail_attachment %}
				<div class="row"> 				
					<div class="file-field input-field col s12">
						<div class="btn">
							<span>{{ 'Attachment'|lang }}</span>
							<input type="file" name="attachment">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
				</div>
			{% endif %}
			<div class="row"> 				
				<div class="input-field col s12">
					<label for="captcha">{{ 'Enter the code Captcha'|lang }}</label>
					<br>
					<img src="php/captcha.php?{{ date().timestamp }}" alt="captcha">
					<input type="text" placeholder="abc123" title="{{ 'Enter the code Captcha'|lang }}" name="captcha" id="captcha" required maxlength="32">
				</div>
			</div>
			{% if not user.id %}
				<div class="row"> 
					<div class="col s12">
						<p>
							<label>
								<input type="checkbox" name="rules" class="filled-in" required {% if input.rules %}checked{% endif %}>
								<span>{{ 'Accepts the terms and conditions and the privacy policy'|lang }}: <a href="{{ path('rules') }}" title="{{ 'Terms of service'|lang }}" target="_blank">{{ 'Terms of service'|lang }}</a> - <a href="{{ path('privacy_policy') }}" title="{{ 'Privacy policy'|lang }}" target="_blank">{{ 'Privacy policy'|lang }}</a></span>
							</label>
						</p>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col s12">
					<button type="submit" class="btn waves-effect waves-light">{{ 'Send!'|lang }}</button>
				</div>
			</div>
		</form>
		<br><br><br>
	</div>
</div>

{% endblock %}

